<button class="mb-4 rounded-xl bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4" (click)="refresh()">
    Refrescar
</button>
<table class="table-fixed w-full border-collapse cursor-default">
    <thead class="text-left bg-purple-500">
        <tr>
            <th class="px-4 py-3 text-left font-semibold">Titulo</th>
            <th class="px-4 py-3 text-left font-semibold">Descripción</th>
            <th class="px-4 py-3 text-left font-semibold">Estado</th>
        </tr>
    </thead>
    <tbody >
        @if (tasks().length === 0) {
            <tr class=" border-b border-purple-200 bg-purple-300 hover:bg-purple-400 cursor-pointer">
                <td [colSpan]="3" class="px-4 py-10 text-center" colspan="4">No hay tareas disponibles</td>
            </tr>
        }
        @for(task of tasks(); track task.id) {
            <tr class="border-b border-purple-200 bg-purple-300 hover:bg-purple-400 cursor-pointer">
                <!-- <td class="px-4 py-3">{{ task.id }}</td> -->
                <td class="px-4 py-3">{{ task.title }}</td>
                <td class="px-4 py-3">{{ task.description ?? "(Sin descripción)" }}</td>
                <td class="px-4 py-3 flex items-center gap-4"> 
                    @if (task.completed) {
                        <span class="rounded-xl bg-green-500 p-2 font-semibold text-white" (click)="toggleCompleted(task)">Completada</span>   
                    } @else {
                        <span class="rounded-xl bg-red-500 p-2 font-semibold text-white" (click)="toggleCompleted(task)">Pendiente</span>
                    }
                    <button class="rounded-xl bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4" (click)="updateActualTask(task.id)">
                        Editar
                    </button>
                </td>
            </tr>
        }
    </tbody> 
</table>